@model IEnumerable<Library.Domain.Entities.Book>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>All books</h1>

<table class="grid">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Author</th>
        <th class="NumericCol">Price Loss</th>
        <th>Actions</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>@item.BookId</td>
        <td>@Html.ActionLink(item.Name, "Edit", new { item.BookId} )</td>
        <td>@item.Author</td>
        <td class="NumericCol">@item.PriceLoss.ToString("c")</td>
        <td>
            @using (Html.BeginForm("Delete", "Admin"))
            {
                @Html.Hidden("bookId", item.BookId);
                <input type="submit" value="Delete" />
            }
        </td>
    </tr>
}
</table>
<p>
    @Html.ActionLink("Add new book", "Create")
</p>
